body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  overflow-x: hidden;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.content {
  padding: 20px;
}
 
.header {
  padding: 10px;
  background: #edf2f4;
  border-bottom: 1px solid #999;
}
.header a {
  color: #0072ff;
  text-decoration: none;
  margin-left: 20px;
  margin-right: 5px;
}
.header a:hover {
  color: #8a0f53;
}
.header small {
  color: #666;
}
.header .active {
  color: #2c7613;
}

.MuiDrawer-paper > .MuiList-root > .MuiListItem-button > a {
  padding-top: 10px;
}

.payer-container, .payee-container, .pay-button-container {
  display: table;
  height: 100%;
  width: 100%;
  word-break: break-word;
}

.payer-name, .payee-name, .pay-button {
  display: table-cell;
  vertical-align: middle;
  text-align: center;
}

.amount-to-pay {
  text-align: center;
  padding-top: 24px;
}

.payment-info-container {
  width: 30%;
}

.pay-button {
  padding-top: 2px;
}

p, span, td {
  word-break: break-word;
}

#curr-label {
  color: rgba(0, 0, 0, 1);
  margin-bottom: 5px;
}