body {
    background-color: #edf3f8;
}

.card {
    width: 50%;
    margin: auto;
    background-color: white;

  }

.cardAction {
    justify-content: center;
    width : 100%;
    background-color: white;
}

/* .textField {
    border-color: #edf3f8;
} */


.button {
    color: #edf3f8;
    background-color: #0083E2;
    padding: 15px;
    border: none;
    border-radius: 5px;
    width: 100%;
    margin: auto;
    font-size: 15px;
    font-weight: bold;

}

.delbutton {
    color: #edf3f8;
    background-color: red;
    padding: 15px;
    border: none;
    border-radius: 5px;
    width: 100%;
    margin: auto;
    font-size: 15px;
    font-weight: bold;

}

.toggleLogin {
    color : #0083E2;
    background-color: white;
    border: none;
    font-size: 16px;
}

.css-1r4vtzz {
    border-radius: 10px !important;
    width: 330px !important;

}

.css-48ayfv {
    border-radius: 10px !important;
    width: 330px !important;

}

/* input:-internal-autofill-selected {
    background-color: white !important;
} */


